* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: rgb(24, 24, 24);
    color: rgb(235, 235, 235);
}
header {
    position: fixed;
    width: 100vw;
    height: 3em;
    box-shadow: 0 -5px 10px rgb(55,66,77);
    background: linear-gradient(89deg,#1697bf 3%,#68cef5 98%);
    z-index: 99;
}
.logoHeader{
    position: fixed;
    top: 0.5em;
    left: calc(100vw - 150px);
    height: 2em;
}
footer {
    position: fixed;
    width: 100vw;
    top: calc(100vh - 2em);
    height: 2em;
    box-shadow: 0 2px 10px rgb(55, 66, 77);
    background: linear-gradient(189deg,rgb(49, 49, 49) 3%,rgb(34, 34, 34) 98%);
    z-index: 99;
}
.content {
    position: fixed;
    top: 3.5em;
    left: 1em;
    right: 1em;
    bottom: 2.5em;
    border-radius: 10px;
    background: rgb(49, 49, 49);
}
nav {
    position: fixed;
    left: 1.5em;
    top: 4em;
    bottom: 3em;
    width: 20vw;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px;
}
nav > ul {
    padding: 15px 10px;
}
.menuItem {
    list-style: none;
    text-align: center;
    color: rgb(235, 235, 235);
    padding: 5px;
    border-bottom: 1px solid rgb(105, 105, 105);
    transition-duration: 500ms;
}
.menuItem:hover {
    cursor: pointer;
    background: rgb(79, 79, 79);
    border-left: 3px solid #1697bf;
}
.menuItem:active {
    background: rgb(255, 255, 255);
    color: rgb(24, 24, 24);
}
.menuItemActive {
    cursor: pointer;
    background: rgb(79, 79, 79);
    border-left: 3px solid #1697bf;
}
.container {
    position: fixed;
    left: calc(2em + 20vw);
    top: 4em;
    bottom: 3em;
    width: calc(100vw - 3.5em - 20vw);
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px;
    padding: 1em;
}
.component {
    animation: showComponentToLeft 500ms linear;
    position: fixed;
    left: calc(2.5em + 20vw);
    top: 4.5em;
    bottom: 3.5em;
    width: calc(100vw - 4.5em - 20vw);
    padding: 1em;
    color: rgb(225, 225, 225);
}
.show {
    animation: showComponentToLeft 1s linear;
}
@keyframes showComponentToLeft {
    0% {
        opacity: 0;
        left: 100vw;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.title {
    padding: 5px;
}
.titleLitle {
    font-size: 0.7em;
    margin-bottom: 5px;
    margin-top: 10px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.btn {
    margin: 5px;
    padding: 5px;
    border: none;
    background: linear-gradient(89deg,#1697bf 3%,#68cef5 98%);
    outline: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition-duration: 500ms;
}
button.btn:hover {
    box-shadow: 0 0 20px rgb(34, 32, 32);
}
button.btn:active {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}
hr {
    margin-bottom: 2em;
}
.invoice {
    height: 68vh;
    padding: 1em;
}
select {
    outline: none;
    padding: 3px;
    border-radius: 4px;
    background-color: rgb(49, 49, 49);
    border-color: rgb(188, 188, 188);
    color: rgb(235, 235, 235);
    width: 250px;
}
option {
    padding: 3px;
}
option:hover {
    background-color: rgb(49, 49, 49);
}
.inp {
    outline: none;
    padding: 4px;
    border-radius: 4px;
    background: rgb(49, 49, 49);
    border: 1px solid rgb(188, 188, 188);
    color: rgb(235, 235, 235);
    width: 150px;
    text-align: center;
}


.docItem {
    display: flex;
    justify-content: left;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.docTableItem {
    padding: 5px;
    text-align: left;
}
.docTableItem:first-child {
    width: 80px;
}
.docTableItem {
    width: 30%;
}